html
man
latex
maelstrom-*.bz2
maelstrom-*.gz
*.o
*.lo
.*.swp
*.la
.libs
.deps
.dirstamp
m4/l*
Makefile
Makefile.in
*.spec
aclocal.m4
autom4te.cache/
compile
config.*
configure
depcomp
doc/azy.dox
install-sh
libtool
ltmain.sh
missing
src/bin/azy_parser
src/bin/azy_parser.c
src/bin/azy_parser.h
src/bin/azy_parser.y
src/bin/lemon
src/bin/re2cbin
src/bin/re2c/re_parser.cpp
src/bin/re2c/re_parser.h
src/tests/T_*
src/tests/identi.ca/identica_Common*
src/tests/type*.c
src/tests/type*.h
stamp-h1
ylwrap
changes
/lempar.c
shotgun_gui
*.pc
*.edj
module.desktop
src/tests/azy/T_*
src/tests/azy/t*Common*
src/tests/azy/identi.ca/identica_Common*
src/tests/azy/client
src/tests/azy/stress_client
src/tests/azy/server
src/tests/azy/azy_rss
src/tests/azy/http_simple
src/tests/azy/identi_ca
src/tests/azy/unit/t001_content
src/tests/email/test_pop3
src/tests/email/test_imap
src/tests/email/test_smtp
